<div class="row">
  <div class="col-md-6 col-sm-8 col-lg-6">
    
    <div class="panel panel-info">
      <div class="panel-heading"><h3>Add Event</h3></div>
      <div class="panel-body">
        <form class="form" role="form" id="addEventForm" ng-submit='addEventForm.$valid && eventCtrl.submitForm(eventCtrl.eventForm)' novalidate name="addEventForm">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <div class="form-group">
                <label for="eventName" class="control-label">Name</label>
                <input type="text" ng-model='eventCtrl.eventForm.name' required class="form-control" name="eventName" placeholder="Event name" ng-minlength='3' ng-maxlength='50'>
                <p class="help-block" ng-show='addEventForm.$dirty && addEventForm.eventName.$invalid'>Please enter an event name btw 3 and 50.</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <div class="form-group">
                <label for="eventDescription" class="control-label">Description</label>
                <input type="text" ng-model='eventCtrl.eventForm.description' required class="form-control" name="eventDescription" placeholder="Event Description">
                <p class="help-block" ng-show='addEventForm.$dirty && addEventForm.eventDescription.$invalid'>The event description</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <div class="form-group">
                <label for="eventDate" class="control-label">Date</label>
                <input type="text" min='2015-01-01' required ng-pattern='/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/' ng-model='eventCtrl.eventForm.date' required class="form-control" name="eventDate" placeholder="yyyy-MM-dd">
                <p class="help-block" ng-show='addEventForm.eventDate.$invalid'>Please enter valid event date</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <div class="form-group">
                <label for="eventLocation" class="control-label">Location</label>
                <input type="text" ng-model='eventCtrl.eventForm.location' required class="form-control" name="eventLocation" placeholder="Event Location">
                <p class="help-block" ng-show='addEventForm.$dirty && addEventForm.eventLocation.$invalid'>Please enter an event Location</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <div class="form-group">
                <label for="eventcategory" class="control-label">Category</labeorml>
                <select class="form-control" required ng-model="eventCtrl.selectedOption" ng-options="category.name group by category.group for category in eventCtrl.categories track by category.id" data-width="100%" name="eventCategory">
                 
                </select>
                <p class="help-block" ng-show='addEventForm.$dirty && addEventForm.eventCategory.$invalid'>Select the  event category</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <div class="form-group">
                <label for="eventEmailInfo" class="control-label">Email</label>
                <input type="text" ng-model='eventCtrl.eventForm.email' required class="form-control" name="eventEmailInfo" placeholder="Event Description">
                <p class="help-block" ng-show='addEventForm.$dirty && addEventForm.eventEmailInfo.$invalid'>The contact email</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-xs-12 col-lg-6">
              <div class="form-group">
                <label for="eventSpecial" class="control-label">Special Event?</label>
                <br>
                <input type="radio" ng-model='eventCtrl.eventForm.specialEvent' value='true'> Yes </label>
                <input type="radio" ng-model='eventCtrl.eventForm.specialEvent' value='false'> No </label>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12 col-lg-6">
              <div class="form-group" ng-if="eventCtrl.eventForm.specialEvent == 'true'">
                <label for="eventSpecialTypes" class="control-label">Special Event Type</label>
                <div ng-repeat="type in eventCtrl.specialType">
                  <input type="checkbox" name="eventSpecialType" ng-model='type.checked' value='true'> {{type.name}} </label>
                </div>
                <input type="checkbox" ng-model="eventCtrl.bothSelected" ng-click="eventCtrl.selectAllTypes()" name="selectAllTypes" value='false'> Both </label>
              </div>
            </div>
          </div>

          <hr />
          
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-6">
              <div class="form-group">
                <button type="submit" ng-disabled="addEventForm.$invalid" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-default">Cancel</button>
              </div>
            </div>
          </div>
        </form>  
      </div>
    </div>
  </div>

  <div class="col-sm-8 col-md-6">
      <table class="table table-hover table-striped">
    <!-- <div ng-repeat="event in eventCtrl.event"> -->
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Email</th>
          <th>Location</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in eventCtrl.event">
          <td>{{event.name}}</td>
          <td>{{event.description}}</td>
          <td>{{event.category}}</td>
          <td>{{event.email}}</td>
          <td>{{event.location}}</td>
          <td>{{event.date}}</td>
        </tr>
      </tbody>
        <!-- <tr ng-repeat-start="event in eventCtrl.event"><td>{{event.name}}</td></tr>
        <tr ng-repeat-end><td>{{event.description}}</td></tr> -->
      </table>
    </div>
  </div>
</div>